<div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>画像<br>と名前</td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><%= link_to 'Edit', root_path,class: "btn btn-small btn-success" %></td>
          <td><%= link_to 'Destroy', book_path(@book), method: :delete %></td>
        </tr>
      </table>
    </div>