
  <div class="container">
    <h1>welcome to bookers!!</h1>
    <p>In Bookers,</p>
    <br>
    <p>you can share and exchange your opinions,inpressions,
     and emotions</p>
    <br>
    <p>about various books!</p>
    <div class="btn-wrapper col10 mx-auto">
      <div class="row">
        <div class="btn btn-info btn-sm btn-block mb-3 sign_in">
          <%= link_to "Log in", user_session_path %>
        </div>
      </div>
      <div class="row">
        <div class="btn btn-success btn-sm btn-block mb-3 sign_in">
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
    </div>
    </div>
  </div>