 <div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to<i class="fas fa-book"></i>
      bookers!!</h1>
      <p>In <i class="fas fa-book"></i>Bookers,</p>
      <br>
      <p>you can share and exchange your opinions,inpressions,
         and emotions</p>
      <br>
      <p>about various books!</p>
    <div class="row">
     
        <%= link_to  user_session_path, class: "col-12" do %>
          <div class="btn btn-info btn-sm btn-block mb-3 sign_in">
            <span>Sign in</span>
          </div>
        <% end %>
      </div>
      <div class="row">
        
        <%= link_to  new_user_registration_path, class: "col-12" do %>
          <div class="btn btn-success btn-sm btn-block mb-3 sign_in">
            <span>Sign up</span>
          </div>
        <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>