/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";




// #navbarNavDropdown > ul > li.fas.fa-home.nav-link.text-light > a:nth-child(2){
//   color:white;
// }
// .text-light a{
//   color:white;
// }
 #navbarNavDropdown > ul > li:nth-child(5) > a{
   color:white;
 }
body > header > nav > nav > a{
   color:white;
 }

#navbarNavDropdown > ul > li.fas.fa-home.nav-link.text-light > a:nth-child(2){
   color:white;
 }

#navbarNavDropdown > ul > li:nth-child(3) > a{
   color:white;
 }

#navbarNavDropdown > ul > li:nth-child(4) > a{
   color:white;
 }

 body > main > div > div > div:nth-child(1) > div > a{
   color:white;
 }
 body > main > div > div > div:nth-child(2) > div > a{
   color:white;
 }
 body > div > div > div > div:nth-child(7) > div > a{
   color:white;
 }
 body > div > div > div > div:nth-child(8) > div > a{
   color:white;
 }